.date-select {
  .ant-picker {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: #28c6de;
  }
  border-color: #28c6de;
  .ant-picker-input > input {
    color: white;
  }
  .anticon-calendar {
    color: white;
  }
}
