.my-table {
  .ant-table {
    background-color: rgba(0, 0, 0, 0.2);
    .ant-table-cell-scrollbar:not([rowspan]) {
      box-shadow: none;
    }
    .ant-table-thead {
      tr {
        th {
          height: 50px;
          background-color: #062a3c;
          border: none;
          color: hsla(0, 0%, 100%, 0.6);
        }
      }
    }
    .ant-table-tbody {
      tr {
        td {
          height: 50px;
          color: #ffffff;
          background-color: #10364f;
          border-color: rgba(0, 0, 0, 0.2);
        }
        &:nth-child(2n) {
          td {
            background-color: #103e5e;
            border-color: rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}
