.sidebar {
  color: white !important;
  width: 220px;
  min-width: 220px;
  .pro-sidebar-inner {
    border-right: 1px solid rgba(173, 173, 173, 0.2);
    position: sticky !important;
    top: 0 !important;
  }
  .pro-inner-list-item {
    background-color: #212029 !important;
    padding-right: 10px;
    .pro-menu-item {
      &:hover {
        background-color: #6a8ca324;
      }
    }
    .pro-menu-item.active {
      background-color: rgba(16, 16, 21, 0.8);
      a {
        color: #ffffff;
      }
    }
  }
}
